<!DOCTYPE html>
<html lang="zh" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>我的笔记列表</title>
</head>
<body>
<div layout:fragment="content">
    <h2><a class="btn btn-primary" href="/note/add">写笔记</a></h2>
    <table class="table table-striped table-bordered content">
        <thead>
        <tr>
            <th>笔记标题</th>
            <th>创建时间</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="note:${noteList}">
            <td th:text="${note.id}" hidden>ID：id</td>
            <td th:text="${note.title}">笔记标题</td>
            <td th:text="${note.createTime}">2018-01-01 00:00:00</td>
        </tr>
        </tbody>
    </table>
</div>

<div layout:fragment="customScript">
</div>
</body>
</html>