<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8"/>
    <title>登录</title>
</head>
<body>
<div layout:fragment="content">
    <div th:if="${param.error}" class="alert alert-danger" role="alert">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}" class="alert alert-info" role="alert">
        You have been logged out.
    </div>

    <form class="form-signin" th:action="@{/signin}" method="post">
        <h2 class="form-signin-heading">请登录</h2>
        <label for="username" class="sr-only">用户名</label>
        <input id="username" name="username" class="form-control" placeholder="用户名" required autofocus>
        <br>
        <label for="password" class="sr-only">密码</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        <div class="checkbox">
            <label>
                <input id="remember-me" name="remember-me" type="checkbox"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block">登录</button>
    </form>
</div>
</body>
</html>